<% provide(:title, "About") %>
<h1>About</h1>
<ul>
  <li>Workout Buddy is a web app that helps you record workouts and track your progress. 
      There are two main features: workout logging and workout generation. </li><br>
      
  <li>The exercise log page allows you to log three types of workouts: runs, ab workouts, and weight workouts.</li><br>
  
  <li>The workouts you log are listed on the exercise log page; they are divided into sections based on the workout time and listed in 
  chronological order. </li><br>

  <li>The workout generation page generates a workout based on two parameters: 
  expected duration (in minutes) and preferred workout type (select one or more of running, abs, and weights). </li><br>
  
  <li>The tool will generate a workout that will take approximately as long as the input duration,
  and if the user selects abs and/or weights, it suggests a list of exercises.</li><br>
  
  <li>Workout generation assumes you spend approximately one minute on each ab exercise and approximately three minutes 
  on each lifting exercise.</li>
  </ul>
