<% provide(:title, "Generate") %>
<h1>Generate Workout</h1>
<!--
Form:
Desired workout type (checkbox, minimum of one selected) (optional) 
Duration (minutes, required)
If potential abs:
  Ability to edit list of potential ab exercises
If potential weights:
  Ability to edit list of potential lifts
-->
