<% provide(:title, "Log") %>
<h1>Exercise Log</h1>
<!--
Form:
Workout type (run, abs, weights)
If run:
  Length (miles)
  Duration (minutes)
Else if abs:
  Hash of exercises done (exercise, duration)
Else (lifts):
  Hash of lifts done (lift, count)
-->
