<% provide(:title, "Stats") %>
<h1>Statistics</h1>
<!--
Stats:
  Total number of workouts this week/month/year
  Total duration of working out this week/month/year

Achievements:
  Work out X days a week for Y straight weeks (minimum duration 20 minutes)
  Run X miles a week for Y straight weeks
  Run X miles in a year
  X minutes of ab workouts a week for Y straight weeks
  X minutes of ab workouts in a year
  X lifts for Y straight weeks
  X lifts in a year
  
-->
