<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @ab_workout.duration %>
        <%= @ab_workout.date %>
      </h1>
    </section>
  </aside>
</div>